html {
	height: 100%;
}
body {
	height: 100%;
	background: url(../img/comppattern2.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}
/*прибить футер к низу*/
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px; /*обязательно указать минимальную ширину примерно на ширину сайта*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	min-width: 970px;/*обязательно указать минимальную ширину примерно на ширину сайта*/
	/*height: auto!important;*/
	height: 80px;
	margin-top: -80px;
	/*линия+фон+шрифт футер*/
	background: #eff3f7 url(../img/line.png) top center no-repeat;
	font-family: 'fira_sanslight';
	color: #4a545d;

}
/*прибить футер к низу - конец*/

/*Шапка header*/
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 119px;
	background: #eff3f7 url('../img/line.png') bottom center no-repeat;
	position: relative;
	margin-bottom: 39px;
}	
.page-header .header-logo-link {
	position: absolute;
	top: 39px;
	left: 0;
}
.page-header .header-logo-text {
	position: absolute;
	left: 9999px;
}
.page-header .socials{
	position: absolute;
	right: 0;
	top: 36px;
}
/*Конец шапки header*/

/*Блок социальных иконок*/
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 57px;
	width: 57px;
	margin-left: 19px; /*Отступ у таких элементов всегда слево*/
}
.socials .socials-item:first-child {
	margin-left: 0;
	/*У первого элемента обнуляем отступ*/
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px; /*Прячим текст с помощью отрицательного отступа*/
	background: url(../img/spritesheet.png) no-repeat;

    /*background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;*/

}

.socials-item .vk {
	background-position: -10px -144px;
}
.socials-item .tw {
	background-position: -144px -10px;
}
.socials-item .fb {
	background-position: -10px -10px;
}
.socials-item .gt {
	background-position: -10px -77px;
}
.socials-item .vk:hover {
	background-position: -77px -144px;
}
.socials-item .tw:hover {
	background-position: -144px -77px;
}
.socials-item .fb:hover {
	background-position: -77px -10px;
}
.socials-item .gt:hover {
	background-position: -77px -77px;
}
/*.socials .socials-link-vk {background-position: -10px -144px;}
.socials .socials-link-tw {background-position: -71px -3px;}
.socials .socials-link-fb {background-position: -140px -3px;}
.socials .socials-link-gt {background-position: -209px -3px;}
.socials .socials-link:hover {background-position-y: -65px;} /*при нажатии происходит смещение по у*/ 
/*Конец блока соцыальных иконок*/

/*Сайтбар*/
.sidebar {
	width: 250px; /*Ширина сайтбара*/
	float: left; /**/
}

/*Навигация*/
.navigation {
	overflow: hidden;/*чтобы при заливки скругление углов не пропадало*/
	background: #eff3f7;
	border-radius: 4px; /*скругление углов*/
	margin-bottom: 26px;/*отступ сверху "от линии"*/
}
.navigation .navigation-list {
list-style: none;/*убирает точки слево перед ссылкой*/
margin: 0;
padding: 0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}
.navigation .navigation-item:first-child {
	border-top: none;
}
/*Навигация текущий пункт меню*/
.navigation .navigation-item.current {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /*Хак -отступ снизу, убирает подчеркивание с первого пункта меню*/
}
.navigation .navigation-item.current .navigation-link {
	color: #f9fafb; /*Меняет цвет текста*/
	font-size: 22px; 
	}
/*Конец текущий пункт меню*/
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover {
	color: #3ba8c0;
}
/*Конец навигация*/

/*Контакты*/
.contacts {
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 23px;
	background: #eff3f7;
	font-style: normal;
}
.contacts .contacts-list {
	list-style: none;/*убирает точки слево перед ссылкой*/
	margin: 0;
	padding: 0;
}
.contacts .contacts1{
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	color: #fbfcfd;
	background: #3ba8c0;
	padding-left: 15px;
	padding-top: 9px;
}
.contacts .contacts-link {
	/*font-family: 'fira_sansbook';*/
	color: #fbfcfd;
	display: block;
	text-decoration: none;/*Убирает*/
	background: url(../img/post.png) left center no-repeat;
	text-align: center;
	margin-left: 43px;
}
.contacts .post {
		background: #41b9d4;
		padding-top: 9px;
}

.contacts .tell {
	background: #48cbe8;
	text-align: center;
}
.contacts .contacts-tell {
background: url(../img/tel.png) left center no-repeat;
display: block;
margin-left: 43px;
color: #fbfcfd;
padding-top: 9px;


}
.contacts .skype {
	background: #51daf8;
	text-align: center;

}
.contacts .contacts-skype {
	display: block;
	text-decoration: none;
	background: url(../img/skype.png) left center no-repeat;
	margin-left: 43px;
	color: #fbfcfd;
	padding-top: 9px;
	
} 
/*Конец контакты*/
/*конец Сайтбар*/

/*КОНТЕНТ Главная область*/
.variable-content {
	width: 650px;
	float: right;

}

/*footer*/

.page-footer .container {
	padding-top: 23px;
	position: relative;
}
.page-footer .copyright{
	margin: 0 100px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}
/*login*/
.page-footer .lock{
	position: absolute;
	top: 26px;
	left: 26px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../img/zamok_z.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover{
	text-decoration: underline;;
	background: url(../img/zamok_o.png) no-repeat;
}/*Логин конец*/
/*Футер конец*/

/*Общие классы*/
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
/*прибить влево*/
.putt-left {
	float: left;
}
/*прибить вправо*/
.putt-right {
	float: right;
}
/*clearfix*/
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: ""; /*1*/
	display: table; /*2*/
}
/*clearfix - конец*/
/*общие классы конец*/
