

 .site-list {
 	margin: 0 auto;
	padding-left: 23px;
	padding-top: 20px;
	min-width: 192px;
	}
.site-list  .sites {
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 182px;
	/*height: 127px;*//*Отключим ограничение высоты блока li*/
	margin-left: 10px;
	margin-bottom: 10px;
	vertical-align: top;/*применяется только к строчным элементам inline или строчным блокам inline-blok. Влияет на выравнивание самого элемента , а не его содержимого */
 }
a {
	text-decoration: none;/*Убирает подчеркивание на ссылке*/
	color: #3ba8c0;
}
/*Офорление Добавить проект*/
 .projekt {

	background: #edf8fc none repeat scroll 0 0;
	border: 2px dashed #3ba8c0;
	border-radius: 4px;
	height: 125px;
	width: 179px;s
	margin: 15px;
	overflow: hidden;
	position: relative;

	
}

.dobproject {
	left: 40%;
	top: 30%;
	position: absolute;
	text-transform: translate (-50%, -50%);
}
.dobprojekt-text {
	
	padding-top: 60px;s
}

/*Конец Офорление Добавить проект*/

/*popup*/
.modal-wrapper {
	background: #eff3f7 none repeat scroll 0 0;
	border-radius: 4px;
	/*box-sizing: border-box;*/
	left: 50%;
	top: 50%;
	margin-left: -183px;
	margin-top: -250px;
	min-height: 70px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	width: 364px;
	z-index: 100;
}

/*конец popup*/
 .ssilka {
 	padding-top: 50px;
 }
.site-list .site-text1 {
	display: block;
	height: 100%;
	width: 100%;
	/*background: url(../img/site1.png) no-repeat;*/
	border: 3px #3ba8c0 solid;
	border-radius: 4px;
	

}
.site-list .site-text2 {
	display: block;
	height: 100%;
	width: 100%;
	/*background: url(../img/site2.png) no-repeat;*/
	 border: 3px #3ba8c0 solid;
	border-radius: 4px;
	/*color: #3ba8c0;*/
}
.dobprojekt-text {
	text-align: center;
}

.work-text {
	font-size: 13px;
	line-height: 1;/*междустрочный интервал*/
}

/*Навигация текущий пункт меню*/

.content3-header {
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	background: #3ba8c0;
	max-height: 112px;
	text-align: center;
	color: #f9fafb; /*Меняет цвет текста*/
	font-size: 25px; 
	
}

.content-line{
	background: #67dffa;
	height: 18px;
}	
.content-form {
	margin: 0 auto;
	width: 410px;
	padding-top: 50px;
}
.form-name {
	
	float: left;
	display: block;
	width: 192px;


}
.form-name1 {

	
}
.form-name2 {
	font-size: 13px;
	color: #67dffa;
	display: block;
	padding-bottom: 30px;
}

.form-mail {
	float: right;
	width: 192px;
	
}
.form-text {
font-size: 10px;

}
.form-text1 {

}
label {
	color: #959aa8;
	/*font-family: "Fira Sans Light";*/
	font-size: 19px;

}
input.form-name2 {
	width: 192px;
	height: 0px;

}
textarea {
	width: 405px;
}
input {
	width: 182px;
}
input, textarea {
	background-color: #fbfcfd;
	border: 1px solid #28cbe8;
	border-radius: 2px; 
	padding: 15px 0 15px 10px;
}
.captcha {
	float: left;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	height: 80px;
	width: 192px;

}
input.captcha1 {
	float: right;
	margin-top: 20px;
	height: 10px; 

}
.button {
	float: left;
	margin-top: 20px;
	max-width: 410px;
	width: 100%;
	color: white;
	font-size: 19px; 
	/*font-family: 'Fira Sans Book'l;*/
	border-radius: 4px;
	padding: 0;
} 
input.button1 {
	background-color: #48cbe8;
	border: medium none;
	height: 40px;
	padding-top: 5px;
	box-shadow: 0 3px 0 0 #3ba8c0;/*придание кнопки объема*/
	
}
input.button1:hover, input.button1:focus {
	background-color: #76dcf3;

}
input.button2 {
float: right;
background-color: #849db5;
box-shadow: 0 3px 0 0 #687b8f;
border: medium none;
height: 40px;
padding-top: 5px;	
}
input.button2:hover {          /*Наведение курсора на кнопку*/
	background-color: #aec4da;
}
