

 .site-list {
 	margin: 0 auto;
	padding-left: 23px;
	padding-top: 20px;
	min-width: 192px;
	}
.site-list  .sites {
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 182px;
	height: 127px;
	margin-left: 10px;
	margin-bottom: 100px;
 }
a {
	text-decoration: none;/*Убирает подчеркивание на ссылке*/
	color: #3ba8c0;
}

 .ssilka {
 	padding-top: 50px;
 }
.site-list .site-text1 {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/site1.png) no-repeat;
	border: 3px #3ba8c0 solid;
	border-radius: 4px;
	

}
.site-list .site-text2 {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/site2.png) no-repeat;
	 border: 3px #3ba8c0 solid;
	border-radius: 4px;
	/*color: #3ba8c0;*/
}
.site-list .site-text3 {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/site3.png) no-repeat;
	border: 3px #3ba8c0 solid;
	border-radius: 4px;
	/*color: #3ba8c0;*/
}
.site-list .site-text4 {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/site4.png) no-repeat;
	border: 3px #3ba8c0 solid;
	border-radius: 4px;
	/*color: #3ba8c0;*/
}
.site-list .site-text5 {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/site5.png) no-repeat;
	border: 3px #3ba8c0 solid;
	border-radius: 4px;
	/*color: #3ba8c0;*/
	}
.work-text {
	font-size: 13px;
	line-height: 1;/*междустрочный интервал*/
}

/*Навигация текущий пункт меню*/

.content3-header {
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	background: #3ba8c0;
	max-height: 112px;
	text-align: center;
	color: #f9fafb; /*Меняет цвет текста*/
	font-size: 25px; 
	
}

.content-line{
	background: #67dffa;
	height: 18px;
}	
.content-form {
	margin: 0 auto;
	width: 410px;
}
.form-name {
	
	float: left;
	display: block;
	width: 192px;


}
.form-name1 {

	
}
.form-name2 {
	font-size: 13px;
	color: #67dffa;
	display: block;
	padding-bottom: 30px;
}

.form-mail {
	float: right;
	width: 192px;
	
}
.form-text {
font-size: 10px;

}
.form-text1 {


}
input.form-name2 {
	width: 192px;
	height: 0px;

}
textarea {
	width: 405px;
}
input {
	width: 182px;
}
input, textarea {
	background-color: #fbfcfd;
	border: 1px solid #28cbe8;
	border-radius: 2px; 
	padding: 15px 0 15px 10px;
}
.captcha {
	float: left;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	height: 80px;
	width: 192px;

}
input.captcha1 {
	float: right;
	margin-top: 20px;
	height: 10px; 

}
.button {
	float: left;
	margin-top: 20px;
	max-width: 405px;
	width: 100%;
} 
input.button1 {
	border-radius: 4px;
	
}
input.button2 {
float: right;	
}